*{
    margin: 0;
}
body{
   
}
/* header start header done*/


/* header background-color */
.bgc{
    background-color:rgba(255, 144, 14, 0.1);
}

/* navigation bar */
.nav{
    padding-top: 25px;
    display: flex;
    justify-content: space-between; 

}

.g3{
    font-family: 'Open Sans', sans-serif;
    margin-left: 150px;
    
}

.nav-items{
    margin-right: 137px;
    display: flex;
    list-style: none;
    gap: 20px;
    display: flex; 
}

/* header er description */

.header-description{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 240px;
    gap: 15px;
}
.head-text{
    font-family: 'Open Sans', sans-serif;
}


.header-p{
    font-weight: 200px;
    font-size: small;
    color: rgb(73, 73, 73);
    
}

.btn{
    margin-top: 20px;
    height: 40px;
    width: 120px;
    font-weight: 700;
    color: aliceblue;
    background-color: rgb(254, 143, 64);
    border: none;
    border-radius: 7px;
}

/* image image image */

.image{
    height: 45vh;
    width: 70vw;
    margin-top: 30px;
    margin-left: 153px;
    margin-bottom: 20px;
}

/* header done  header done*/
/* header done  header done*/



/* main start main star */

/* first-section start*/

.first-section{
    display: flex;
    gap: 20px;
    margin: 80px 140px;
    padding-left: 14px;
}
/* images  */
.img1{
    height: 240px;
    width: 200px;
}

.images-mother{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px 20px; 
    width: 500px; 
}
/* images done */

/* description  description*/
.section-1-description{
margin-left: px;
height: 179px;



}

.section-1-text{
    color: gray;
    font-size: 18px;
    font-weight: 100; 
}
/* title er vitorer span */
.titlerspan1{
    font-family: 'Open Sans', sans-serif;
    color: black;

    font-size: 27px;
    font-weight: 700;
    line-height: 53px;

}
.titlerspan2{
    font-family: 'Open Sans', sans-serif;
    color: #FF900E;
    font-size: 27px;
    padding-top: 0px;
}
/* title er vitorer span done */
.section-1-p{
    margin: 12px 0px;
    font-size: 14px;
    font-style: normal;
    color: gray;
}
.section-1-btn{
   
    height: 40px;
    width: 120px;
    font-weight: 700;
    color: aliceblue;
    background-color: rgb(254, 143, 64);
    border: none;
    border-radius: 7px;
}

/*--------------- first-section done *-----------------/


/*----- second section start ---------*/

.second-section-flex{
    z-index: 3;
    display: grid;
    grid-template-columns: 350px 100px;
    grid-template-rows: 1fr 0px;
    gap:30px;
    margin-left: 100px;
    /* margin-right: 115px; */
    /* padding: 0px 20px; */
    
    padding-left: 0%;
}


.cors1{
    padding: 12px;
    border-left:solid 5px #FF900E;
    padding-right: 150px;
}
.cors2{
    margin-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
}

.cors3{
   
    margin-bottom: 12px;
    box-shadow:1px 3px 10px rgb(228, 228, 228);
    padding: 12px 30px ;
    border-radius: 10px;


}

.cors4{
    margin-bottom: 12px;
    box-shadow:1px 3px 10px rgb(225, 225, 225);
    padding: 12px 30px ;
    border-radius: 10px;

}

.cors5{
    margin-bottom: 12px;
    box-shadow:1px 3px 10px rgb(225, 225, 225);
    padding: 12px 30px ;
    border-radius: 10px;

}

.cors6{
    margin-bottom: 12px;
    box-shadow:1px 3px 10px rgb(225, 225, 225);
    padding: 12px 30px ;
    border-radius: 10px;

}

/* Experience bar  */
/* arkhitiect  disi abar kaj korbo */

.architect-img{
    margin-top: 0px;
    display: flex;
    width: 240px;
    height: 600px;
    z-index: 2;
}

/* image er oporer lal expar */
.Experience{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: ;
    flex-direction: column;
    color: aliceblue;
    position: absolute;
    margin-top: 580px;
    margin-left: 365px;
    background-color: #FF900E;

    height: 95px; ;
    width:140px ;
    z-index: 1; 
    border-radius: 5px;
}

.expbox{
   margin-top: 60px;
}
  

.somefact{
    position: absolute;
    margin-top: 670px;
    padding-right:530px ;
    word-wrap: wrap;
    color:black;
    font-weight: 300;


}
   
    

    
    


.somefactgap{
    margin-bottom: 10px;
}











